<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="form-inline" id="myForm" action="/users/login" method="post">
        <div class="form-group">
            <label for="title">Login</label>
            <input required type="email" name="email" value="<%= email %>" id="title" class="form-control" placeholder="Email">
            <input required type="password" name="password" value="<%= password %>" id="title" class="form-control" placeholder="Password">
            <input type="submit">
        </div>
      </form> 

    <a href="/users/register">REGISTER</a>
</body>
</html>